<div class="container">
  <h1>Github Search</h1>
  <hr>

  <div class="row">
    <div class="col-md-5">
      <div class="container-fluid">
        <form action="" (ngSubmit)='searchUser()' #searchForm='ngForm'>

          <div class="form-group">
            <label for="userName">Search Username:</label>
            <input type="text" name="userName" id="userName" class="form-control" [(ngModel)]="userName">
          </div>
  
          <div>
            <label for="repos">Search Repository:</label>
            <input type="text" name="" id="">
          </div>
  
          <button type="submit"(click)='searchUser()' class="btn btn-primary">Search</button>
        
        </form>
      </div>
    </div>

      <div class="col-md-6">

          <div>
            <h3>Search Results</h3>
            <hr>
            {{user.login}}
            {{user.id}}
            {{user}}
          </div>

      </div>

    </div>

  </div>
