<div class="container">
  <h1>Github Search</h1>
  <hr>

  <div class="row">
    <div class="col-md-5">
      <div class="container-fluid">
        <p></p>
        <div>
          <label for="username">Search Username:</label>
          <input type="text" name="" id="">
        </div>

        <div>
          <label for="repos">Search Repository:</label>
          <input type="text" name="" id="">
        </div>

        <button class="btn btn-primary">Search</button>
      </div>
    </div>

      <div class="col-md-6">
          <div>
            <h3>Search Results</h3>
            <hr>
          </div>

      </div>
    </div>
  </div>
